<h1><% title "Song List"%></h1>

<table id="song-list">
	<tr>
		<th>Name</th><th>Artist</th><th>Genre</th><th class="short"></th><th></th>
	</tr>
	<% for song in @songs %>
<tr>
	<td><%= link_to song.name, song_path(song)%></td>
	<td><%= song.artist %></td>
	<td><%= song.genre %></td>
	<td class="short"><%= link_to "Edit", edit_song_path(song) %></td>
	<td><%= link_to "Delete", song_path(song), :method => :delete, :confirm => "Are you sure?" %></td>
</tr>
<% end %>

</table>

<p><%= link_to "New song", new_song_path %></p>
