<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="banner"></div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <% if current_user %>
      Welcome back <%= link_to current_user.fname, user_path(current_user) %>
      <%= link_to "Log out", session_path("watever"), method: "delete" %>
      <% else %>
        <%= link_to "Register", new_user_path %>
        <%= link_to "Login", new_session_path %>
        or <%= link_to "Log in through Facebook", '/auth/facebook' %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
